# import data set

In [1]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd

In [2]:
df = pd.read_csv('/Users/mac/Desktop/data_dating.csv')

In [3]:
df

     40920   8.326976  0.953952  3
0    14488   7.153469  1.673904  2
1    26052   1.441871  0.805124  1
2    75136  13.147394  0.428964  1
3    38344   1.669788  0.134296  1
4    72993  10.141740  1.032955  1
..     ...        ...       ... ..
994  11145   3.410627  0.631838  2
995  68846   9.974715  0.669787  1
996  26575  10.650102  0.866627  3
997  48111   9.134528  0.728045  3
998  43757   7.882601  1.332446  3

[999 rows x 4 columns]

# Define x and y

In [4]:
x=df.iloc[:,0:3]

In [5]:
x.head()

   40920   8.326976  0.953952
0  14488   7.153469  1.673904
1  26052   1.441871  0.805124
2  75136  13.147394  0.428964
3  38344   1.669788  0.134296
4  72993  10.141740  1.032955

In [6]:
y=df.iloc[:,3]

In [7]:
y.head()

0    2
1    1
2    1
3    1
4    1
Name: 3, dtype: int64

# Split the dataset train set and test set

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.2, random_state =0)

In [10]:
xtrain.shape

(799, 3)

In [11]:
xtest.shape

(200, 3)

In [12]:
#from sklearn.preprocessing import StandardScaler

In [13]:
#scaler=StandardScaler()

In [14]:
#scaler.fit(xtrain)

In [15]:
#xtrain=scaler.transform(xtrain)

In [16]:
#xtest=scaler.transform(xtest)

# Train the model on the training set with KNN

In [17]:
from sklearn.neighbors import KNeighborsClassifier

In [18]:
classifier= KNeighborsClassifier(n_neighbors=33)

In [19]:
classifier.fit(xtrain,ytrain)

KNeighborsClassifier(n_neighbors=33)

# Predict the test set result

In [20]:
y_pred=classifier.predict(xtest)

In [21]:
y_pred

array([3, 3, 2, 3, 2, 2, 1, 3, 2, 3, 2, 3, 1, 2, 3, 2, 1, 1, 2, 3, 2, 2,
       2, 1, 3, 3, 3, 2, 2, 2, 1, 3, 3, 3, 3, 2, 2, 2, 1, 2, 1, 3, 1, 3,
       3, 1, 1, 1, 2, 2, 2, 2, 3, 1, 3, 2, 2, 3, 3, 1, 2, 3, 3, 1, 2, 3,
       2, 1, 2, 3, 2, 1, 3, 3, 2, 1, 3, 1, 2, 1, 3, 2, 3, 1, 3, 2, 3, 2,
       3, 3, 2, 3, 1, 3, 1, 2, 3, 2, 1, 2, 2, 2, 3, 3, 1, 2, 3, 3, 3, 1,
       2, 3, 3, 3, 3, 2, 2, 3, 1, 3, 2, 1, 2, 1, 2, 1, 3, 3, 3, 2, 1, 1,
       3, 3, 3, 2, 2, 2, 3, 2, 3, 3, 2, 2, 3, 2, 1, 2, 3, 3, 2, 2, 3, 3,
       2, 1, 1, 1, 2, 2, 2, 2, 3, 2, 1, 2, 2, 3, 3, 3, 2, 2, 3, 3, 1, 2,
       2, 3, 1, 2, 3, 3, 2, 3, 2, 1, 3, 1, 1, 3, 2, 2, 1, 3, 3, 2, 2, 1,
       2, 3])

# Predict one value

In [24]:
one_pred=classifier.predict([[14488,7.153469,1.673904]])

In [25]:
one_pred

array([2])

# Evaluate the model

In [35]:
from sklearn.metrics import accuracy_score

In [36]:
accuracy_score(ytest,y_pred)

0.81